<h1>부동산 정보 관리 페이지</h1>
<div>
  <%= link_to '새로운 부동산 등록', new_property_path %>
</div>

<table>
  <thead>
    <tr>
      <th>이름</th>
      <th>주소</th>
      <th>가격</th>
    </tr>
  </thead>
  <tbody>
    <% @properties.each do |property| %>
      <tr>
        <td><%= property.name %></td>
        <td><%= property.address %></td>
        <td><%= property.price %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @properties %> <!-- 페이지네이션 추가 -->
